.footer {
    background-color: #0E9755;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

@media (min-width: 400px) {
    .footer {
        position: fixed;
    }
}

.textFooter {
    color: #000;
    font-family: sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}